@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import "tailwindcss";

a.active hr{
    display: block;
}

::-webkit-scrollbar{
  display: none;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playwrite-cu-guides-regular {
  font-family: "Playwrite CU Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-regular {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}